<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>
    </head>

    <body>
        <div id="app">
            ID: <input v-model="newId"/> Password: <input v-model="newPassword"/>
            <button onclick="add();">Add</button>
            <table border="1">
                <tr v-for="account in accounts">
                    <td><input type="text" v-model="account.id"/></td>
                    <td><input type="password" v-model="account.password"/></td>
                </tr>
            </table>
            <button onclick="submit();">Submit</button>
        </div>
        <script>
            let app=new Vue({
                "el": "#app",
                "data": {
                    "newId": "",
                    "newPassword": "",
                    "accounts": []
                }
            });
            function add(){
                $.ajax("api/account",{
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({
                        id: app.newId,
                        password: app.newPassword
                    }),
                    success: function(){
                        window.location.href="/";
                    }
                });
            }
            function submit(){
                console.log(app.accounts);
            }
            $(document).ready(function(){
                $.ajax("api/accounts", {
                    success: function(o){
                        app.accounts=o;
                    }
                });
            });
        </script>
    </body>
</html>
